:root {
  --font-primary: "Quicksand", serif;
  --font-title: "Luckiest Guy", serif;
  --font-cloud: "CloudFont", sans-serif;
  --font-secondary: "Liter", serif;
  --lightblue-clr: #a3c7e0;
  --background-clr: #6a9dd7;
  --sidebar-clr: #3a7d9c;
  --lightgreen-clr: #239a7a;
  --darkgreen-clr: #1c6d4d;
  --text-clr: white;
  --extra-clr: #005f6b;
  --accent-clr: #FFD166;
  --hover-clr: #1E5B74;
  --hover-txt-clr: #FFD166;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-primary);
  line-height: 2rem;
}

body {
  min-height: 80vh;
  min-height: 100dvh;
  background-color: var(--background-clr);
  display: grid;
  grid-template-columns: auto 1fr;
}

/* ============= SIDEBAR STYLING ============= */
#sidebar {
  box-sizing: border-box;
  height: 92vh;
  width: 250px;
  padding: 4px 1em;
  background-color: var(--sidebar-clr);
  border-right: 1px solid white;

  /* SIDEBAR STYING FOR STICKY */
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
  margin: 2rem;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#sidebar.close{
  padding: 6px;
  width: 60px;
}

#sidebar ul{
  list-style: none;
}

#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a{
  color: var(--accent-clr);

  svg {
    fill: var(--accent-clr);
  }
} 

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a span, #sidebar .dropdown-btn span {
  flex-grow: 1;
  font-size: 1.2rem;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
  color: var(--hover-txt-clr);

  svg {
    fill: var(--hover-txt-clr);
  }
}

#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300mx ease-in-out;
  font-size: 1rem;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.dropdown-btn svg {
  transition: 200ms ease;
}
.rotate svg:last-child{
  rotate: -180deg;
}

#sidebar .sub-menu {
  padding-left: 2em;
}

#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: none;
  cursor: pointer;
  background: none;

  svg {
    transition: rotate 150ms ease;
  }
}

#toggle-btn:hover{
  background-color: var(--hover-clr);
}

.logout {
  margin-top: auto;
  margin-bottom: 1rem;
  list-style: none;
}

#sidebar .sub-menu li a {
  color: var(--text-clr);
}

#sidebar .sub-menu li a svg {
  fill: var(--text-clr);
}

/* Styling for submenus */
#sidebar .sub-menu li.active a {
  color: var(--accent-clr);
}

#sidebar .sub-menu li.active a svg {
  fill: var(--accent-clr);
}

#sidebar li.active .sub-menu li:not(.active) a {
  color: var(--text-clr);
}

#sidebar li.active .sub-menu li:not(.active) a svg {
  fill: var(--text-clr);
}




/* ====== SIDEBAR RESPONSIVE TO MOBILE DEVICE ===== */
@media(max-width: 800px){
  body{
    grid-template-columns: 1fr;
  }
  main{
    padding: 2em 1em 60px 1em;
  }
  .container{
    border: none;
    padding: 0;
  }
  #sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid white;
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      overflow-x: scroll;
    }

    ul li {
      height: 100%;
    }

    ul li span, ul li:first-child, .dropdown-btn svg:last-child {
      display: none;
    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 1px solid white;
      display: flex;
      justify-content: center;

      > div{
        overflow-x: auto;
      }

      li {
        display: inline-flex;
      }

      a{
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}


