<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PriorityPilot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/cca020387c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/styles/forgotten-password.css" />
  </head>
  <body>
    <div id="forgotten-password-page-wrapper">
      <form id="forgotten-password-form">
        <div>
          <h1>Forgot password?</h1>
          <h2>Enter your email address</h2>
        </div>
        <input
          type="text"
          name="forgotten-email"
          id="forgotten-email"
          required
        />
        <button type="button">Continue</button>
      </form>

      <div class="moving-footer">
        <div class="moving-footer-subsection">
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
        </div>

        <div class="moving-footer-subsection" aria-hidden="true">
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
          <div class="moving-footer-section">
            <img src="../static/images/transparent-plane.png" />
            <h1>PRIORITYPILOT</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
