<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<h2>>, initial-scale=1.0" />
    <title>PriorityPilot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Liter&display=swap"
      rel="stylesheet"
    />
    <link href="../static/styles/landing-page-info.css" rel="stylesheet" />
  </head>
  <body>
    <h2 id="info-section-header">What's PriorityPilot?</h2>
    <h3 id="info-section-sub-header">
      PriorityPilot is a task manager to help you:
    </h3>
    <div class="info-section-wrapper">
      <div class="info-point">
        <div>
          <img
            src="../static/images/plane-bullet-points.png"
            class="plane-bullet-points-image"
          />
        </div>
        <div>
          <h4>
            Organize tasks by urgency and importance to stay focused on what
            matters most.
          </h4>
        </div>
      </div>
      <div class="info-point">
        <div>
          <img
            src="../static/images/plane-bullet-points.png"
            class="plane-bullet-points-image"
          />
        </div>
        <div>
          <h4>
            Plan your day effortlessly with an intuitive calendar and reminders.
          </h4>
        </div>
      </div>
      <div class="info-point">
        <div>
          <img
            src="../static/images/plane-bullet-points.png"
            class="plane-bullet-points-image"
          />
        </div>
        <div>
          <h4>
            Create, edit, and reorder tasks.
          </h4>
        </div>
      </div>
      <div class="info-point">
        <div>
          <img
            src="../static/images/plane-bullet-points.png"
            class="plane-bullet-points-image"
          />
        </div>
        <div>
          <h4>
            Compete against your friends to see who can complete the most tasks.
          </h4>
        </div>
      </div>
    </div>
  </body>
</html>
