<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page 2</title>
  <link rel="stylesheet" href="../static/landing_page2.css">
</head>
<body>
  <nav class="navbar">
    <a href="#" class="nav-logo">Priority Pilot</a>
    <div class="nav-center">
        <a href="#">Home</a>
        <a href="#">About</a>
    </div>
    <div class="nav-right">
        <a href="#">Join</a>
        <a href="#">Sign up</a>
    </div>
</nav>

  <section class="image-hero">
    <img src="../static/images/cloud-left.svg" id="cloud-left">
    <img src="../static/images/cloud-right.svg" id="cloud-right">
  </section>

  
  <script src="../js/landing_page.js"></script>
</body>
</html>
