<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Priority Pilot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='landing_page.css') }}">
  <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.59/build/spline-viewer.js"></script>
  
</head>
<body>
  <spline-viewer class="background"  url="https://prod.spline.design/P16GZ0smToplU91T/scene.splinecode"></spline-viewer>

  <div class="main">
    <nav class="navbar">
      <a href="#" class="nav-logo">Priority Pilot</a>
      <div class="nav-center">
          <a href="#">Home</a>
          <a href="#">About</a>
      </div>
      <div class="nav-right">
          <a href="#">Join</a>
          <a href="#">Sign up</a>
      </div>
  </nav>
  
  <div class="hero">
    <h1>Master Your Tasks with Ease</h1>
    <p>Too many tasks, not enough time? Priority Pilot helps you rank, organize, and schedule your to-do list—so you can focus on what truly matters.</p>
    <a href="#">Get Started</a>
  </div>
  </div>

</body>
</html>
