<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PriorityPilot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/cca020387c.js"
      crossorigin="anonymous"
    ></script>
    <link href="../static/styles/signup-page.css" rel="stylesheet" />
  </head>
  <body id="login-body">
    <main id="login-main-content">
      <div class="login-main-content-wrapper">
        <h1 id="log-in-header">Sign up</h1>
        <form class="login-form">
          <div class="form-input-wrapper">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              required
              maxlength="200"
            />
          </div>
          <div class="form-input-wrapper">
            <label for="password">Password</label>
            <div class="password-input-wrapper">
              <input
                type="password"
                name="password"
                id="password"
                required
                maxlength="25"
              />
              <button type="button" class="eye-icon-button">
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </div>
          <div class="form-input-wrapper">
            <label for="confirm-password">Confirm Password</label>
            <div class="password-input-wrapper">
              <input
                type="confirm-password"
                name="confirm-password"
                id="confirm-password"
                required
                maxlength="25"
              />
              <button type="button" class="eye-icon-button">
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </div>
          <div class="form-button-wrapper">
            <button type="submit">Sign up</button>
          </div>
        </form>
        <div class="login-button-footer">
          <p>Have an account?</p>
          <a href="{{ url_for('login') }}">
            <button>Log in</button>
          </a>
        </div>
      </div>
    </main>
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
  </body>
</html>
